.DS_Store
.ipynb_checkpoints/
node_modules/
/dist

data/raw/combined.json
data/raw/NCEP_CFSV2/
data/processed/psi_raw.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
